*{margin:0px;padding:0px}
.voucher_address{padding: 10px}
.voucher_item{padding: 10px}
.header_area{padding:50px 0px;color:#fff;background:#4253f4}
.footer_area{padding:10px 0px;color:#fff;background:#4253f4}